.title {
    font-size: 30px;
    text-align: center;
}



.login {
    font-family: 'Fira Sans', sans-serif, 'Noto Sans JP', sans-serif;
    padding-top: 50px;
    margin: 0 auto;
    width: 400px;
}

.register {
    font-family: 'Fira Sans', sans-serif, 'Noto Sans JP', sans-serif;
    padding-top: 50px;
    margin: 0 auto;
    width: 400px;
}



.form {
    
    padding: 1em 1em;
    margin: 0em 0;
    font-weight: bold;
    border: solid 1px #000000;
}

.form-group {
    margin: 0; 
    padding: 0;
}

.attention {
    width: 100%;
    padding-top: 2em;
    line-height: 0.5em;
    
}
.register-attention p{
    text-align: right;
    line-height: 2em;
    font-size: 12px;

}

.attention p {
    font-size: 14px;
    
}

footer {
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
    height: 50px;
    width: 100%;
    background-color: black;
}

footer p{
    font-size: 14px;
    color: white;
    text-align: center;
}

