.title {
    font-size: 30px;
    text-align: center;
}

.login {
    font-family: 'Fira Sans', sans-serif;
    padding-top: 100px;
    margin: 0 auto;
    width: 400px;
    
}

.form {
    font-family: 'Fira Sans', sans-serif;
    padding: 1em 1em;
    margin: 0em 0;
    font-weight: bold;
    border: solid 1px #000000;
}

.form-group {
    margin: 0; 
    padding: 0;
}

.attention {
    width: 100%;
    padding-top: 2em;
    line-height: 0.5em;
    
}

