.navbar {
    font-family: 'Fira Sans', sans-serif, 'Noto Sans JP', sans-serif;
    overflow: hidden;
    border-bottom: double 1px silver;
}

.menu {
    list-style: none;    
}

.menu li {
    float: left;
}

/*←絶対位置*/
.title {
    font-size: 30px;
    text-align: center;
}

/*←絶対位置*/
.login {
    font-family: 'Fira Sans', sans-serif, 'Noto Sans JP', sans-serif;
    padding-top: 50px;
    margin: 0 auto;
    width: 400px;
}

/*←絶対位置*/
.register {
    font-family: 'Fira Sans', sans-serif, 'Noto Sans JP', sans-serif;
    padding-top: 50px;
    margin: 0 auto;
    width: 400px;
}

/*←絶対位置*/
.form {
    
    padding: 1em 1em;
    margin: 0em 0;
    font-weight: bold;
    border: solid 1px #000000;
}

/*←絶対位置*/
.form-group {
    margin: 0; 
    padding: 0;
}

/*←絶対位置*/
.attention {
    width: 100%;
    padding-top: 2em;
    line-height: 0.5em;
    
}

/*←絶対位置*/
.register-attention p{
    text-align: right;
    line-height: 2em;
    font-size: 12px;

}

/*←絶対位置*/
.attention p {
    font-size: 14px;
    
}

/*←絶対位置*/
footer {
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
    height: 50px;
    width: 100%;
    background-color: black;
}

/*←絶対位置*/
footer p{
    font-size: 14px;
    color: white;
    text-align: center;
}

